:host {
    cursor: pointer;
}

.message {
    border-left: solid;
}

.message p {
    margin: 0px;
}

.savedMessage {
    background-color: lightgrey;
    border-width: .225em;
    padding-left: .375em;
}

.regularMessage {
    border-width: .1em;
    padding-left: .5em;
}