:host {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.message {
    border-left: solid;
}

.message p {
    margin: 0px;
    font-family: 'sent message';
    font-weight: bold;
}

.savedMessage {
    background-color: #E8EBED;
    border-width: .225em;
    padding-left: .375em;
}

.regularMessage {
    border-width: .1em;
    padding-left: .5em;
}