.appContainer {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messageContainer {
    overflow: scroll;
    height: 80vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /*Start at bottom of messages*/
    display: flex;
    flex-direction: column-reverse;
}

.topContainer {
    overflow: hidden;
    border: solid;
    border-width: .05em;
    border-color: #E8EBED;
    background-color: red;
    /* Because mobile hides behind the browser bar? ... */
    padding-top: 55px;
    height: 60px;
}

app-top-bar {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

.bottomContainer {
    overflow: hidden;
    border: solid;
    border-width: .05em;
    border-color: #E8EBED;
}

/* Doesn't work in FF */

/*.messageContainer::-webkit-scrollbar {
    display: none;
}*/