.appContainer {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messageContainer {
    overflow: scroll;
    height: 80vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /*Start at bottom of messages*/
    display: flex;
    flex-direction: column-reverse;
}

.bottomContainer, .topContainer {
    overflow: hidden;
    border: solid;
    border-width: .05em;
    border-color: #E8EBED;
}

/* Doesn't work in FF */

.messageContainer::-webkit-scrollbar {
    display: none;
}