<div class="appContainer">
    <div class="topContainer">
        <!--<app-bottom-bar></app-bottom-bar>-->
    </div>
    <div class="messageContainer">
        <app-user-message username="me" color="{{colorPrimaryPerson}}"></app-user-message>
        <app-user-message username="someone else" color="{{colorSecondaryPerson}}"></app-user-message>
        <app-user-message username="me" color="{{colorPrimaryPerson}}"></app-user-message>
        <app-user-message username="someone else" color="{{colorSecondaryPerson}}"></app-user-message>
        <app-user-message username="me" color="{{colorPrimaryPerson}}"></app-user-message>
        <app-user-message username="someone else" color="{{colorSecondaryPerson}}"></app-user-message>
        <app-user-message username="me" color="{{colorPrimaryPerson}}"></app-user-message>
        <app-user-message username="someone else" color="{{colorSecondaryPerson}}"></app-user-message>
    </div>
    <div class="bottomContainer">
        <app-bottom-bar></app-bottom-bar>
    </div>
</div>