:host {
    cursor: default;
}

.username {
    font-family: 'message sender';
    text-transform: uppercase;
    margin: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    user-select: none;
}