.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.chattingWithName {
    font-family: 'bold username';
    margin: 0px;
    text-align: middle;
    height: inherit;
    line-height: inherit;
}

.circle {
    height: 38px;
    width: 38px;
    background-color: #E8EBED;
    border-radius: 50%;
    margin-left: 7.5px;
    margin-right: 7.5px;
}